# .NET build artifacts
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.vscode

# NuGet packages
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Roslyn Analyzer Ruleset files
*.ruleset
